<% include header %>
<h2>Armas</h2>
<br>
<table class="class-table">
<tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Imagen</th>
</tr>
<tr>
    <th>Retro Lancer</th>
    <th>Sirve para matar Locust.... pero en zombies debe funcionar igual ;)</th>
    <th><img src="/arma1.jpg"></th>
</tr>
<tr>
    <th>Pipiru piru piru pipiru pi</th>
    <th>Excalibur, mata a tu amo con suma facilidad, tambien podrias matar un zombie con esto</th>
    <th><img src="/arma2.jpg"></th>
</tr>
<% include footer %>
