<% include header %>
<h2>Clases</h2>
<br>
<table class="class-table">
<tr>
    <th>Especie</th>
    <th>Descripcion</th>
    <th>Imagen</th>
</tr>
<tr>
    <th>Iron Maiden</th>
    <th>Wea del mas allá, altamente letal y horrible, que no te atrape!</th>
    <th><img src="/zombie1.jpg"></th>
</tr>
<tr>
    <th>Loli Satanás</th>
    <th>Parasíto de aspecto "inocente", destroza a sus victimas en mil pedazos al contacto</th>
    <th><img src="/zombie2.jpg"></th>
</tr>
<% include footer %>