<% include header %>
<h2>Victimas</h2>
<br>
<table class="class-table">
<tr>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>En donde Stalkear UwU</th>
    <th>Referencia</th
</tr>
<tr>
    <th>Missypwns</th>
    <th>Tundra Siberiana #101, Piedras Negras</th>
    <th><a href="https://www.instagram.com/missypwns/?hl=es-la">Instagram (8</a></th>
    <th><img src="/victim1.jpg"></th>
</tr>
<tr>
    <th>pokimane</th>
    <th>Nakadashi St.#601, Valle de Analco</th>
    <th><a href="https://www.instagram.com/pokimanelol/?hl=es-la">Instagram (8</a></th>
    <th><img src="/victim2.jpg"></th>
</tr>
<% include footer %>
